<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstLecture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="background: black; color:white; padding: 16px">
      NAVBAR
      <%= link_to "HOME", root_path, style: "color: yellow" %>
      <%= link_to "ABOUT", about_path, style: "color: yellow" %>
      <%= link_to "CONTACTS", contacts_path, style: "color: yellow" %>

      <form action="/contacts" method="get">
        <input type="text" name="band" placeholder="Who are you looking for?" value="<%= params[:band] %>">
        <input type="submit">
      </form>
    </div>
    <%= yield %>
  </body>
</html>
